.ui-poscen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: fit-content;
    height: fit-content;
}


.ui-scrollable {
	&.ui-scrollable-y {
		padding-right: calc(1 * var(--size));
	}

	&.ui-scrollable-x {
		padding-bottom: calc(1 * var(--size));
	}
}