.settings-list {
	display: flex;
	flex-direction: column;
	.settings-item {
		border-bottom: 1px solid var(--color-border);
		display: flex;
		padding-top: 1em;
		padding-bottom: 1em;
		.left {
			width: 30%;
			.settings-item-label {
				font-size: 2em;
			}
		}
		.right {
			width: 100%;
			display: flex;
			align-items: center;
			column-gap: 1em;
			.settings-item-value {
				display: flex;
			}
		}
	}
}