:root {
	--color-primary: #4CAF50;
	--color-secondary: #FF9800;

	--color-black: #000;
	--color-white: #FFF;

	--color-base: var(--color-black);
	--color-back: var(--color-white);

	--color-border: var(--color-base);
}