/* Splash Screen Styles */
.splash-screen {
	position: absolute;
	inset: 0;
	background: var(--color-black);
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	._box {
		max-width: 60%;
	}
	._title {
		display: flex;
		flex-direction: column;
		font-size: calc(4 * var(--size));
		font-family: Overlord;
		width: 100%;
		text-align: center;
		._version {
			text-align: right;
			font-size: 0.5em;
			margin-top: -1em;
		}
	}
	._text-box {
		text-align: center;
	}
	.section {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.3s ease;
		pointer-events: none;
	}
	.section.__show {
		opacity: 1;
		pointer-events: auto;
	}
}