.splash-screen {
	position: absolute;
	inset: 0;
	background: var(--color-black);
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	._box {
		max-width: 60%;
	}
	._logo-image {
		width: 50%;
		margin: auto;
        height: auto;
	}
	._title {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
		font-size: calc(4 * var(--size));
		font-family: Overlord;
		&._big {
			font-size: calc(6 * var(--size));
		}
		._version {
			text-align: right;
            font-size: 0.3em;
            margin-top: -1.8em;
            opacity: 0.7;
		}
		._desc {
			font-family: Kurale;
			opacity: 0.7;
			font-size: 0.5em;
            margin-top: -1em;
		}
	}
	._text-box {
		font-size: 1.4em;
		text-align: justify;
		line-height: 1.8;
		font-family: var(--font-simple);
	}
	._gonext {
		font-size: 1.2em;
		text-align: center;
		line-height: 1.8;
		position: absolute;
		bottom: 2em;
		color: var(--color-text-muted);
		opacity: 0;
		transition: opacity 1s var(--transition-easing, ease-in-out);
		transition-delay: calc(var(--transition-duration, 500ms) + 1s);
		&.__hide {
			opacity: 0 !important;
			transition: none !important;
		}
	}
	.section {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity var(--transition-duration, 500ms) var(--transition-easing, ease-in-out);
		pointer-events: none;
		z-index: 1;
		
		&.__show {
			opacity: 1;
			pointer-events: auto;
			z-index: 2;
			._gonext {
				opacity: 1;
			}
		}
	}
	
	&.__transitions-disabled {
		.section {
			transition: none !important;
			opacity: 1 !important;
		}
	}
	
}
