.ui-tabs {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	.ui-tabs-header {
		display: flex;
		align-items: end;
		font-size: 1.6rem;
		width: 100%;
		&::after {
			content: '';
			width: 100%;
			height: 1px;
			background: var(--color-border);
		}
		.ui-tabs-label {
			text-transform: uppercase;
			color: color-mix(in srgb, var(--color-base), transparent 80%);
			background: none;
			position: relative;
			border-width: 1px;
			border-color: transparent;
			border-style: solid;
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 0.3em;
			padding-top: 0.5em;
			border-top-right-radius: 0.4em;
			border-top-left-radius: 0.4em;
			&:not(.__active) {
				&::after {
					content: '';
					width: calc(100% + 2px);
					height: 1px;
					background: var(--color-border);
					position: absolute;
					top: 100%;
					left: -1px;
				}
				&:hover {
					color: var(--color-base);
				}
			}
			&.__active {
				color: var(--color-primary);
				border-left-color: var(--color-border);
				border-right-color: var(--color-border);
				border-top-color: var(--color-border);
			}
		}
	}
	.ui-tabs-content {
		max-height: 100%;
		border-color: var(--color-border);
		border-style: solid;
		border-top-width: 0;
		border-left-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		padding: 2em;
		.ui-tab {
			&:not(.__active) {
				display: none;
			}
		}
		&.ui-scrollable {
			&.ui-scrollable-y {
				overflow-y: auto;
			}
			&.ui-scrollable-x {
				overflow-x: auto;
			}
		}
	}
}