@import './_fonts.css';
@import './_root.css';
@import './_button.css';
@import './_class.css';
@import './_menu.css';
@import './_tab.css';
@import './_range.css';
@import './_player.css';
@import './_settings.css';