@import './_fonts.css';
@import './_root.css';
@import './_button.css';
@import './_class.css';
@import './_menu.css';
@import './_tab.css';
@import './_range.css';
@import './_dropdown.css';
@import './_select.css';
@import './_modal.css';
@import './_player.css';
@import './_settings.css';
@import './_saves.css';
@import './_splash.css';
@import './_history.css';