/* Character Component Styles */

.char {
	position: absolute;
	height: 100%;
	width: fit-content;
	left: 0%;
	right: 0%;
	margin: auto;
	transform-origin: center 95%;
	&.orientation-left {
		transform: scaleX(-1);
	}
	.char-body {
		position: relative;
		height: 100%;
		width: fit-content;

		.char-part {
			width: fit-content;
			transform-origin: center center;
			margin: auto;
			z-index: 0;
			&:not(._body) {
				position: absolute;
				height: calc(var(--charspriteH) / var(--charbodyspriteH) * var(--char-height));
				right: 0;
				bottom: 0;
			}

			&._body {
				height: 100%;
				position: relative;
			}

			.char-part-sprite {
				position: relative;
				width: auto;
				height: 100%;

				.sprite-image {
					height: 100%;
					width: auto;
					position: relative;
				}
			}
		}
	}
}

.equip-part {
	width: 100%;
	height: 100%;
	transform-origin: center center;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.equip-part-sprite {
		position: absolute;
		width: 100%;
		height: 100%;

		.sprite-image {
			height: 100%;
			width: 100%;
			position: absolute;
			object-fit: contain;
		}
	}
}

