/* Character Component Styles */

.char {
	position: absolute;
	height: 100%;
	width: fit-content;
	left: 0;
	right: 0;
	margin: auto;
	transform-origin: center 95%;
	&.orientation-left {
		transform: scaleX(-1);
	}
	.char-body {
		position: relative;
		height: 100%;
		width: fit-content;

		.char-part {
			width: fit-content;
			transform-origin: center center;
			margin: auto;

			&:not(._body) {
				position: absolute;
				height: calc(var(--charspriteH) / var(--charbodyspriteH) * var(--char-height));
				right: 0;
				bottom: 0;
			}

			&._body {
				height: 100%;
				position: relative;
			}

			.char-part-sprite {
				position: relative;
				width: auto;
				height: 100%;

				.sprite-image {
					height: 100%;
					width: auto;
					position: relative;
				}
			}
		}
	}
}
