/* Equipment Part Styles */

.equip-part {
	width: 100%;
	height: 100%;
	transform-origin: center center;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.equip-part-sprite {
		position: absolute;
		width: 100%;
		height: 100%;

		.sprite-image {
			height: 100%;
			width: 100%;
			position: absolute;
			object-fit: contain;
		}
	}
}
