@import './visual-novel.css';
@import './character.css';
@import './character-stats-modal.css';
@import './text-input-modal.css';
@import './equip-part.css';

.game-area {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	.game {
		width: 100%;
		height: 100%;
		background-color: #000000;
		position: relative;
	}
}